.container {
    display: flex;
}

.item {
    background-color: cornflowerblue;
    padding: 50px;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
}